/*
 initial code from: https://codepen.io/101Computing/pen/wEbEqx
*/

/* helpers */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}

body {
  background: black;
  color: #DDDDDD;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  text-align: center;
}

em {
  font-weight: bold;
}
h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: -webkit-linear-gradient(90deg,#ff8a00,#e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#grid {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0px;
  border: 4px solid #c0c0c0;
  background: #c0c0c0;
  font-family: courier new;
}

#grid tr td span {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  margin: -8.5px 0 0 -4.5px;
}

#grid tr td {
  width: 15px;
  height: 15px;
  max-width: 15px;
  max-height: 15px;
  min-width: 15px;
  min-height: 15px;
  text-align: center;
  font-size: xx-small;
  cursor: default !important;
  padding: 0px;
  background: #c0d0c0;
  border: 1px solid #c0c0c0;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

#grid TR TD[data-status=default],
#grid TR TD[data-status=flagged] {
  border: 1px outset #ececec;
  padding: 0px;
}

#grid TR TD.mine {
    background: #dd5050;
    border: 1px inset orange;
    padding: 0px;
}

/*
#0000ff, #008100, #ff1300, #000083, #810500, #2a9494, #000000, #808080;
*/

#grid TR TD[data-value="1"] {
    color: #0000ff !important;
}

#grid TR TD[data-value="2"] {
    color: #008100;
}

#grid TR TD[data-value="3"] {
    color: #ff1300;
}

#grid TR TD[data-value="4"] {
    color: #000083;
}

#grid TR TD[data-value="5"] {
    color: #810500;
}

#grid TR TD[data-value="6"] {
    color: #2a9494;
}

#grid TR TD[data-value="7"] {
    color: #000000;
}

#grid TR TD[data-value="8"] {
    color: #808080;
}


#grid TR TD.flag {
    background: #80d080;
}

#grid TR TD.wrong span,
#grid TR TD.correct span {
    font-size: xx-small !important;
}

#grid TR TD.wrong {
    background: orange;
    color: #FF0000;
}

#grid TR TD.correct {
    background: #00FF00 !important;
    color: #000000;
}

div.hint-wrapper {
  max-width: 500px;
  padding: 0 30px;
  margin: 0 auto 30px;
}

span.hint,
ol.instructions li {
  font-size: small;
  text-align: left !important;
}

button {
  margin: 12px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background: #efffef;
  margin: 5% auto 0; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid #c0e0d0;
  width: 60%; /* Could be more or less, depending on screen size */
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  line-height: 36px!important;
  color: #888;
}

.modal-btn {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  line-height: 36px!important;
  min-width: 150px;
  display: inline-block!important;
  background-color: #29abe0;
  padding: 2px 12px !important;
  text-align: center !important;
  color: #fff;
  cursor: pointer;
  overflow-wrap: break-word;
  vertical-align: middle;
  border: 0 none #fff !important;
  font-family: 'Quicksand',Helvetica,Century Gothic,sans-serif !important;
  text-decoration: none;
  text-shadow: none;
  font-weight: 700!important;
  font-size: 14px !important;
}

p.announcement-action {
  font-size: normal;
  font-weight: bold;
}

#body-wrapper {
  display: inline-block;
}

.btn-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/** mobile **/
@media only screen and (max-width: 823px) {
  #grid tr td {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
  }
  .btn-container {
    position: inherit;
    margin: 20px 0;
  }
}

